html, body, #drawings {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#drawings {
    position: absolute;
    z-index: -5;
}
.drawing {
    position: absolute;
    opacity: 0.5;
}
#graph {
    margin-left: 50px;
}
#axis-left {
    position: absolute;
    top: 25px;
    left: 0;
}
